<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <img  src="https://m.media-amazon.com/images/I/618BCc-KWLL._AC_UF894,1000_QL80_.jpg" alt="jogo de xadrez" width="500">
  <p>{{description}}</p>
</body>
</html>
