<!DOCTYPE html>
<!--É como se fosse um template -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="img/dino.png">
    <title>TP final de PW</title>
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
      <div class="container">
        <a href="../" class="navbar-brand">Dino TRex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/game">Jogar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Sobre</a>
            </li>
            <li class="nav-item dropdown" data-bs-theme="light">
                <a class="nav-link" href="/ui">Interface</a>
            </li>
            <li class="nav-item dropdown" data-bs-theme="light">
                <a class="nav-link" href="/areas">Áreas</a>
            </li>
            <li class="nav-item dropdown" data-bs-theme="light">
                <a class="nav-link" href="/curso">Cursos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{{body}}}
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>