body {
    padding: 120px;
}

#dinoInformations {
    text-align: center;
}
  
#imageDino {
    margin: 30px 0 auto;
}
  
#dinoInformations p {
    margin-top: 20px;
    text-align: left;
}

#gametRex {
    background-color: aliceblue;
}

#titleGame {
    margin-bottom: 40px;
}

.card-cursos{
    display: flex;
    justify-content: space-between;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    background-color: rgba(232, 50, 131, 0.5);
    border-radius: 24px;
    text-align: center;
    max-width: 50%;
    padding: 80px;
    margin: 140px auto 0; 
    flex-direction: column;
}

