<h1 id="titleGame">Jogue o jogo do dino <i class="fa-solid fa-gamepad" style="color: #ffffff;"></i> </h1>
<iframe id="gametRex" src="../../../../tRex/index.html" frameborder="0" width="71%" height="320px"></iframe>
