<div id="content">
    <h1>{{title}} <i class="fa-regular fa-face-smile-beam"></i> </h1>
    <h3>{{body}} <i class="fa-solid fa-computer"></i> </h3>
    <p>Foi utilizado handlebars, nodejs, html, css, sequelize, sql, scss e js</p>
    <h6>{{student}} <i class="fa-solid fa-heart" style="color: #6e2083;"></i></h6>
</div>